<!-- <hello name="{{ name }}"></hello> -->
<!-- <p>Start editing to see some magic happen :)</p> -->
<!-- 
<div class="box" data-aos="fade-down-right"></div>
<hr />
<div class="box" data-aos="flip-down"></div>
<hr />
<div class="box" data-aos="flip-up"></div>

<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-up"></div>
<hr />
<div class="box" data-aos="fade-left"></div>
<hr />
<div class="box" data-aos="fade-right"></div>
<hr />
<div class="box" data-aos="fade-down"></div>
<hr />
<div class="box" data-aos="fade-down"></div>
<hr />
<div data-aos="fade-up" data-aos-anchor-placement="center-bottom"></div>
<hr />
<div data-aos="fade-up" data-aos-anchor-placement="center-bottom"></div>
<hr />
<div data-aos="fade-up" data-aos-anchor-placement="center-bottom"></div> -->
<h1>AOS ANGULAR: IMPLEMENTING ANIMATIONS</h1>
<div class="flip" data-aos="flip-left">
  <p>What Animal is Known As the King of the Jungle?</p>
</div>
<div class="container">
  <div class="contents" data-aos="fade-left"><p>A. Lion</p></div>
  <div class="contents" data-aos="fade-right"><p>B. Tiger</p></div>
  <div class="contents" data-aos="fade-right"><p>C. Elephant</p></div>
  <div class="contents" data-aos="fade-left"><p>D. Snake</p></div>
</div>
